{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5 site-hero">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Welcome To Codemy Ecommerce...
            </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nibh justo, tempus vel condimentum porttitor, condimentum vitae lorem. Vestibulum accumsan justo sed risus aliquam ultrices. Suspendisse ultrices ex eu mi vehicula bibendum. Maecenas ut sollicitudin est, nec gravida dolor. Suspendisse quis augue ullamcorper, volutpat odio id, malesuada nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis tempor erat ut purus ornare pretium. Suspendisse fermentum mattis est, id feugiat quam scelerisque a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer non lacus vulputate, tempor ante sed, auctor nisl. Aliquam vitae finibus mauris. Sed ultricies massa ut urna ullamcorper accumsan eu a erat. In hac habitasse platea dictumst. Donec ultrices, neque eget suscipit faucibus, turpis ex interdum urna, non porta dolor odio eu arcu. Phasellus ante nisi, lobortis vitae augue vitae, aliquam scelerisque diam.
                    <br><br>
                    
                    Nunc quis pulvinar metus, in ultrices nibh. Donec pulvinar felis tortor, ut consequat lorem sodales ac. Cras pellentesque ipsum a commodo auctor. Pellentesque ut erat mauris. Etiam mi nisl, congue et ligula luctus, gravida ultrices nibh. Pellentesque eget rhoncus elit, eu suscipit erat. Morbi nec eros sed quam aliquet pellentesque. Sed ut purus justo. Donec tincidunt justo vitae tellus eleifend dignissim. Etiam pharetra in sapien ac consectetur. Ut molestie, elit tempor ultrices ultrices, metus ipsum rhoncus eros, ac fermentum leo eros imperdiet tortor. Nam aliquet eros at dapibus placerat. Nulla porttitor laoreet lectus, eu condimentum tortor porttitor nec. Cras tempus nunc non odio feugiat facilisis ac nec lectus. Duis vel mauris enim.
                    <br><br>
                    
                    Duis viverra odio sed felis molestie, in dapibus lorem gravida. Pellentesque ac justo nec quam ullamcorper posuere vitae in odio. Aliquam quis consequat lectus. Vivamus placerat faucibus augue, maximus tempus elit egestas in. Vestibulum placerat semper justo, sed malesuada sapien vulputate eu. Nullam in nibh vitae quam elementum fermentum. Praesent faucibus ipsum in ante ullamcorper, ut eleifend dolor mollis. Proin tortor mauris, dapibus non lorem in, sodales convallis elit. Morbi ac sem posuere est tempor dignissim. Morbi dictum, ligula et ullamcorper ultricies, arcu metus blandit dui, et pulvinar lorem orci sit amet turpis. Aenean iaculis viverra sodales. Sed iaculis metus non elit gravida, sit amet elementum magna lacinia. Nam in pretium ante. Etiam tincidunt, ligula in tempus ullamcorper, lectus erat lobortis orci, nec vulputate sem nisl vel turpis. Donec tempor mi ut sem rutrum lacinia. Ut ac orci et velit lobortis mattis ut vitae dui.
                    <br><br>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}